:root {
    --background-color: #ffffffa4;
    --text-color: #9969b4;
    --accent-color: #452f52;
}

body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    position: fixed;
}

.text-container {
    margin: 0.5rem;
    font-size: 1.5rem;
    background-color: var(--background-color);
    width: 16ch;
    height: 4rem;
    position: absolute;
    z-index: 10;
}

a {
    margin: auto;
    text-align: center;
}

.child-text-container {
    position: relative;
}

p {
    margin: auto;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.background-canvas {
    filter: contrast(200%);
    position: relative;
    z-index: 5;
}