:root {
    --background-color: #d3d3d3;
    --text-color: #9969b4;
    --accent-color: #452f52;
}

body, html {
    background-color: var(--background-color);
    height: 100vh;
    margin: 0;
    padding: 0;
}

.global-container {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 6em;
    text-align: center;
}

.project-title {
    font-size: 2em;
}

.profile-pic {
    margin-right: 50px;
    border-radius: 90%;
    width: 200px;
    height: 200px;
}

.slime-pic {
    margin-right: 50px;
    height: 300px;
}

.description-image-container {
    padding: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 75vw;
}

.description-container {
    display: flex;
    text-align: left;
    margin: auto;
}

.project-slime {
    display: flex;
    text-align: left;
    margin: auto;
}