/* Define color palette */
:root {
    --background-color: #FBF4EE;
    --code-bg-color: #EBE5D9;
    --accent-color: #cc904b;
    --link-color: #7F2724;
    --text-color: #000000;
    --code-color: #2C3E50;
    --base-font-size: 1rem;
    --pic-size: 200px;
    --max-p-length: 60ch;
    hyphens: auto;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1A1614;
        --code-bg-color: #26221F;
        --accent-color: #E0B075;
        --link-color: #E27D60;
        --text-color: #E8E3D5;
        --code-color: #E5C07B;
    }
}

@media only screen and (max-width: 767px) {
    :root {
        --base-font-size: 1.15rem;
        --max-p-length: 40ch;
    }
}

html{
   scroll-behavior: smooth;
   font-size: var(--base-font-size);
   overflow-y: scroll;
}



/* Base page settings */
body {
    background-color: var(--background-color);
    font-family: Roboto, Tahoma, sans-serif;
    line-height: 1.5;
    font-size: var(--base-font-size);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (prefers-color-scheme: dark) {
    body {
        letter-spacing: 0.01em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}


/* Header and Nav styling */
header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

hr {
    border-color: var(--accent-color);
    border-style: solid;
    max-width: min(100%, calc(var(--max-p-length) + var(--pic-size) + 1rem));
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    max-width: min(100%, calc(var(--max-p-length) + var(--pic-size) + 1rem));
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
}

nav > .name {
    justify-content: left;
    color: var(--link-color);
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.name > a {
    text-decoration: none;
}

nav > .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.15rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

a {
    text-decoration-skip-ink: auto;
    color: var(--link-color);
}

a:visited {
    color: var(--link-color); 
}



/* Main page content styling */
main {
    flex-grow: 1;
}

section {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: left;
    align-items: left;
    box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
    section {
        flex-direction: column-reverse;

    }
}

h2, h3 {
    font-weight: 500;
}

/* paragraphs in all main sections should have the same style */
section p, pre {
    max-width: var(--max-p-length);
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

section p > b {
    font-weight: 500;
}

section h2 {
    align-items: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 2rem;
    color: var(--text-color);
}

section h3 {
    align-items: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.profile-pic {
    border-style: solid;
    border-color: var(--accent-color);
    border-radius: 0.25rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.7rem;
    width: var(--pic-size);
}

ul { list-style: none; }

li {
    max-width: var(--max-p-length);
    margin: 0.5rem;
}

li::before { 
    content: "•"; 
    color: var(--text-color); 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}

/* Page footer */
footer {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    z-index: 10;
    width: 100%;
    text-align: center;
    font-size: var(--base-font-size);
}

footer > small {
    color: var(--text-color);
    font-size: .75rem;
}