:root {
    color-scheme: light dark;
    --background-color: light-dark(#f0f0f0, #4d4d4d);
    --text-color: light-dark(#000000, #9969b4);
    --accent-color: light-dark(#a1d4e9, #452f52);
}

body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
}

header {
    background-color: var(--accent-color);
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    display: flex
}

a {
    color: var(--text-color);
    padding: 1rem;
    font:
        0.75rem sans-serif
}

.pageLinks {
    width: 100vw;
    height: 100%;
    gap: 1rem;
    display: flex;
    justify-content: right;
    align-items: center;
}

.contentWrapper {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    font:
        1.5rem sans-serif
}

.profilePicture {
    border-radius: 80%
}

.aboutMeText {
    color: var(--text-color);
    text-align: center;
}