:root {
    --background-color: #4b4b4b;
    --text-color: #9969b4;
    --accent-color: #452f52;
}

body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.background-canvas {
    filter: opacity(100%) blur(10px) contrast(75%);
}

body {
    background-color: var(--background-color);
}