:root {
    color-scheme: light dark;
    --background-color: light-dark(#f0f0f0, #4d4d4d);
    --text-color: light-dark(#000000, #9969b4);
    --accent-color: light-dark(#a1d4e9, #452f52);
}

body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.background-canvas {
    filter: opacity(75%) blur(15px);
}

body {
    background-color: var(--background-color);
}